body, h1, p, ul {
  font-family: "Raleway", sans-serif;
}

h1, p, main {
  text-align: center;
  color: #e0e1dd;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5%;
  color: #1b263b;
}

h3 {
  padding: 3%;
  font-size: 1.5rem;
}

p {
  padding: 3rem;
  text-align: left;
}

ul {
  display: inline-block;
}

ol {
  list-style-type: decimal;
  margin: 1rem;
}

.top_ten {
  text-align: left;
  padding: 1rem;
  background-color: #778da9;
}

.basic_info {
  font-size: 1.5rem;
}

.basic_info li {
  margin: 2%;
  display: inline;
  text-align: center;
}

.work_list_title {
  font-size: 1.5rem;
  margin-top: 1rem;

}

.work li {
  text-align: center;
  display: inline;
}

.bio {
  background-color: #415a77;
}

.about {
  background-color: #e0e1dd;
  padding: 5%;
  color: #1b263b;
}

.name {
  aspect-ratio: auto;
  background-color: #0d1b2a;
  height: 100%;
  margin: 0;
  padding: 10%;
}

.highlight {
  color: #e63946;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}