body,
h1,
p,
ul {
  font-family: "Lato", sans-serif;
}

h1,
p,
main {
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: 20px;
}

h2 {
  padding: 10px;
  font-size: 1.5rem;
}

p {
  padding: 10px;
  text-align: left
}

ul {
  display: inline-block;
  list-style-type: disc;
}

li {
  text-align: left;
}

ol {
  list-style-type: decimal;
  margin: 1rem;
}

.top_ten {
  text-align: left;
  padding: 1rem;
}

.bio {
  text-align: auto;
  width: 80%;
  margin: auto;
  border: 3px solid #73AD21;
}

.basic_info {
  margin: 5px;
  text-align: center;
}
